body {
  margin: 0;
  padding: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(112, 216, 173);
  overflow: auto;
}
input {
  width: 300px;
  height: 20px;
  border-radius: 5px;
}
.gallery {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-form {
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.is-hidden {
  display: none;
}
.load-more {
  min-width: 150px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 50%;
  background-color: rgb(0, 255, 179);
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1400px;
  margin: 0 auto;
  margin-top: 110px;
}

.photo-card {
  width: calc(25% - 10px);
  margin-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.info {
  line-height: 1.2;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  display: flex;
}
.info-item {
  /* background-color: #fff; */
  margin-bottom: 5px;
}

.photo-img {
  height: 300px;
  object-fit: cover;
}
